# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Android
.gradle
build/
local.properties
*.keystore
*.jks
*.bundle
*.apk
*.aab

# iOS
.elc_db
.projects
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/Pods/
ios/.xcode.env.local

# Metro Bundler
.expo/*
dist/
.output/
.next/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# TypeScript
*.tsbuildinfo